/*General*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html,
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

body .container {
  max-width: 480px;
  margin: auto;
}

div {
  display: block;
}

.image-container {
  overflow: hidden;
}

body img {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0.9rem;
  text-align: center;
}


/*Content*/



/*nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 32, 29);
}

nav a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
}*/

.main-image {
  width: auto;
}

body .content {
  display: flex;
  max-width: 480px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid lightgrey;

}

body h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #4e362e;
  font-size: 1.3rem;
}

body p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: rgb(78, 54, 46);
  margin: 1rem;
  line-height: 1.4;

}

body span {
  font-weight: 700;
}

#produto1,
#produto2,
#produto3,
#produto4 {
  display: inline-flex;
  border-bottom: 0.5px solid lightgrey;
  justify-content: center;
  margin: 1.5rem;
}

#produto1 .image-container,
#produto2 .image-container,
#produto3 .image-container,
#produto4 .image-container {
  max-width: 40%;
  justify-content: center;
  float: left;
  margin: 0.5rem;
}

#produto4 .image-container img {
  width: 90%;
}

@media screen and (min-width: 480px) {
  body .container {
    margin: auto;
    max-width: 100%;
  }
  body .content {
    display: flex;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid lightgrey;
    font-size: 2rem;

  }

}
